<ul>
    {% for category in categories %}
    <li>
        <a href="{{ path('blog_category_show', { month: category.id }) }}">
            {{ category.name }}
        </a>
    </li>
    {% endfor %}
</ul>